@using PagedList
@using PagedList.Mvc
<div class="row-fluid ">
    <div class="span6 dataTables_info ">
        每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
    </div>
    <div class="span6 dataTables_paginate paging_bootstrap pagination">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action(ViewBag.MenuPage, new
   {
       page,
       ms = ViewBag.MenuPage,
       currentFilter = ViewBag.CurrentFilter,
       currentSelect = ViewBag.CurrentSelect,
       saveBegintime = ViewBag.SaveBegintime,
       saveEndTime = ViewBag.SaveEndTime,
       id=ViewBag.ThisId
   }))

    </div>
</div>
