@model IEnumerable<VEM.Model.ShipmentStatusRecord>
<div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible="0">
    <ul class="feeds">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <li>
                    <div class="col1">
                        <div class="cont">
                            <div class="cont-col1">
                                @if (item.ShipmentStatus.Value == (int)VEM.Business.Util.ShipmentStatus.不可以出货 ||
                                    item.ShipmentStatus.Value == (int)VEM.Business.Util.ShipmentStatus.出货失败)
                                {
                                    <div class="label label-important">
                                        <i class="icon-bolt"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="label label-success">
                                        <i class="icon-gift"></i>
                                    </div>
                                }
                            </div>
                            <div class="cont-col2">
                                <div class="desc">
                                    &lt;@Html.Raw(item.Machine.MachineCode)&gt;流水号:@Html.Raw(item.IdentityNumber)
                                    --
                                    <span class="label label-warning label-mini">
                                        @Html.Raw(item.Commod.Name)
                                    </span>
                                    --
                                    @Html.Raw(item.ShipmentStatus.Value.ToEnumString(typeof(VEM.Business.Util.ShipmentStatus)))
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="date">
                            @Html.Raw(item.CreateDate.Value.ToLongTimeString())
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>